html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
}

header {
  padding: 5%;
  background-image: url('../images/bg-hero-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(193, 100%, 96%);
}

main {
  padding: 5%;
}

button {
  font-weight: 700;
  border: none;
  border-radius: 25px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  transition: all .5s ease;
}

button:hover {
  transition: all 0.5s ease;
  color: hsl(240, 90%, 100%);
  background-color: #24BCEE;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

/*
  Header
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-anchor {
  height: 20px;
}

.logo-anchor img {
  height: 20px;
}

.try-it-btn {
  padding: 0.5rem 3rem;
  font-size: 1rem;
  background-color: white;
  font-size: 1rem;
}

/* Header Hero section */
.hero {
  padding: 2%;
}

.hero-description {
  margin: 50px 0;
}

.hero-description h1 {
  font-size: 1.8rem;
}

.get-started-btn {
  font-size: 1rem;
  padding: 1rem 3.5rem;
  color: white;
  background-color: hsl(322, 100%, 66%);
}

.hero-img img {
  max-width: 100%;
}

/* Main section */
.card {
  padding: 30px;
  margin: 20px 0;
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-image {
  margin-bottom: 20px;
}

.card-image img {
  max-width: 100%;
}

.card-description p {
  color: hsl(208, 11%, 55%);
}

/* Footer */
footer {
  position: relative;
  background: hsl(192, 100%, 9%);
  color: hsl(240, 90%, 100%);
  padding: 100px 5% 5%;
  margin-top: 150px;
  text-align: left;
}

.get-started {
  width: 90%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 1rem;
  padding: 2rem;
  color: hsl(192, 100%, 9%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started h2 {
  margin-bottom: 20px;
  font-size: 1rem;
}

.get-started .footer-btn {
  font-size: 0.8rem;
  font-weight: 400;
}

.footer-logo {
  margin-top: 50px;
}

.footer-logo svg path {
  fill: #fff;
}

.footer-contacts, .phone, .email {
  padding-left: 50px;
  margin: 2rem 0;
  position: relative;
}

li[class~="icon"]:before {
  content: '';
  position: absolute;
  height: 27px;
  width: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 3px;
}

.footer-contacts:before {
  background-image: url('../images/icon-location.svg');
  top: 8px;
}

.phone:before {
  background-image: url('../images/icon-phone.svg');
}

.email:before {
  background-image: url('../images/icon-email.svg');
}

.about-us li, .something-with-us li {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.social-links {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.social-links li {
  width: 50px;
  height: 50px;
  margin: 7px;
}

.social-links li a {
  border: 1px solid white;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links li a:hover {
  color: hsl(322, 100%, 66%);
  border-color: hsl(322, 100%, 66%);
}

.copyright {
  text-align: center;
}
